---
import type { StrapiImage } from "../lib/getstrapi";

interface Props {
  headerImage: StrapiImage;
  podcastName: string;
}
const { headerImage, podcastName } = Astro.props;
---

<header>
  <h1 class="text-center text-5xl font-semibold mb-4">
    {podcastName}
  </h1>
  <div
    class="w-full h-96 bg-no-repeat bg-cover relative border"
    style={{ backgroundImage: `url(${headerImage.url})` }}
  >
  </div>
</header>
