---
---

<nav>
  <ul class="font-bold flex gap-10 p-4">
    <li><a href="#about">About</a></li>
    <li><a href="#hosts">Hosts</a></li>
    <li><a href="#episodes">Episodes</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
